* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F0F0F0; }

::-webkit-scrollbar-thumb {
    background: #128C7E; /* Use Deep Purple for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: gray; /* Use Electric Blue for hover effect */
}
