* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f4f5f5; }

::-webkit-scrollbar-thumb {
    background: #ec9a21; /* Use Deep Purple for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #F85606; /* Use Electric Blue for hover effect */
}


.heading1{
    color:"#F85606"; 
    font-size:"32px"; 
    font-weight:"bold"
}